Logs/**
mysql_log.html
mysql_log.txt
server_log.txt
server_log.err
server.cfg
scriptfiles/maps/**
scriptfiles/properties/**
scriptfiles/vehicles/**
scriptfiles/AcTest.ini
scriptfiles/mysql_errlog.txt
scriptfiles/This_Should_Never_Exist.txt
npcmodes/*.pwn
*.log
shoebill/gamemodes/classes/**