Logs/**
mysql_log.*
server_log.*
server.cfg
*.log
**/.idea/**
**/target/**
**/*.iml
shoebill/repository/**
shoebill/bootstrap/**
shoebill/gamemodes
shoebill/data
shoebill/libraries
shoebill/logs
shoebill/plugins
builder.err
builder.out
crashinfo.txt
*.jar
!/*.jar
*.amx
**/out/**
plugins/*
plugins_linux/*
*.exe