Logs/**
mysql_log.*
server_log.*
server.cfg
scriptfiles/AcTest.ini
scriptfiles/mysql_errlog.txt
scriptfiles/This_Should_Never_Exist.txt
*.log
shoebill/gamemodes/classes/**
shoebill/gamemodes/generated-sources/**
shoebill/gamemodes/maven-archiver/**
shoebill/gamemodes/maven-status/**
**/.idea/**
**/target/**
**/*.iml
shoebill/repository/**
shoebill/bootstrap/**
builder.err
builder.out
crashinfo.txt
*.jar
!/*.jar
*.amx